VITE_FIREBASE_API_KEY=AIzaSyAsqIILXdfVtAXRfJsB36TqZBKzuolM_3I
VITE_FIREBASE_AUTH_DOMAIN=raft-stdio.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=raft-stdio
VITE_FIREBASE_STORAGE_BUCKET=raft-stdio.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=724921174843
VITE_FIREBASE_APP_ID=1:724921174843:web:83d55f763f250d1e7bc51e

# Optional: header brand channel name fetch
VITE_YT_CHANNEL_ID=UCFdvUG1D6Dj6MzZjFw3Kttg
VITE_YT_API_KEY=
